[Desktop Entry]
Encoding=UTF-8
Name=Link to c0fec0de/anytree: Python tree data library
Type=Link
URL=https://github.com/c0fec0de/anytree
Icon=text-html
