[Desktop Entry]
Encoding=UTF-8
Name=Link to Any Python Tree Data — anytree 2.8.0 documentation
Type=Link
URL=https://anytree.readthedocs.io/en/latest/
Icon=text-html
Name[en_US]=Link to Any Python Tree Data — anytree 2.8.0 documentation [tree library I could use]
